Source: ros-indigo-walking-group-recovery
Section: misc
Priority: extra
Maintainer: Nils Bore <nilsbore@gmail.com>
Build-Depends: debhelper (>= 9.0.0), python-pygame, ros-indigo-actionlib, ros-indigo-actionlib-msgs, ros-indigo-catkin, ros-indigo-mary-tts, ros-indigo-monitored-navigation, ros-indigo-rospy, ros-indigo-smach, ros-indigo-smach-ros, ros-indigo-std-msgs, ros-indigo-strands-monitored-nav-states, ros-indigo-strands-navigation-msgs
Homepage: https://github.com/strands-project/strands_deployment
Standards-Version: 3.9.2

Package: ros-indigo-walking-group-recovery
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-actionlib, ros-indigo-actionlib-msgs, ros-indigo-mary-tts, ros-indigo-monitored-navigation, ros-indigo-rospy, ros-indigo-smach, ros-indigo-smach-ros, ros-indigo-std-msgs, ros-indigo-strands-monitored-nav-states, ros-indigo-strands-navigation-msgs
Description: The AAF walking group monitored navigation recovery package
