Source: ros-hydro-strands-monitored-nav-states
Section: misc
Priority: extra
Maintainer: Bruno Lacerda <b.lacerda@cs.bham.ac.uk>
Build-Depends: debhelper (>= 9.0.0), ros-hydro-actionlib, ros-hydro-actionlib-msgs, ros-hydro-backtrack-behaviour, ros-hydro-catkin, ros-hydro-monitored-navigation, ros-hydro-move-base-msgs, ros-hydro-rospy, ros-hydro-scitos-msgs, ros-hydro-sensor-msgs, ros-hydro-smach, ros-hydro-smach-ros, ros-hydro-std-msgs, ros-hydro-strands-navigation-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-hydro-strands-monitored-nav-states
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-actionlib, ros-hydro-actionlib-msgs, ros-hydro-backtrack-behaviour, ros-hydro-monitored-navigation, ros-hydro-move-base-msgs, ros-hydro-rospy, ros-hydro-scitos-msgs, ros-hydro-sensor-msgs, ros-hydro-smach, ros-hydro-smach-ros, ros-hydro-std-msgs, ros-hydro-strands-navigation-msgs
Description: The strands_monitored_nav_states package
